mat-card {
    height: 92vh;
    overflow: hidden;
}
mat-form-field {
    width: 100%;
  }
.form-field{
    margin-right: 20px;
    width: 25%;
}
.d-flex {
    margin-top: 10px;
    display: flex;
}
.mt-10{
    margin-top: 10px;
}
.text-center {
    text-align: center;
}

.input-actions{
    margin-top: 10px;
}