mat-card {
    height: 92vh;
    overflow: hidden;
}

.d-flex {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

.text-center {
    text-align: center;
}

.input-actions{
    margin-top: 10px;
}